<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recom</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min1.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/animate.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/select2.css' %}">
    <style>
        .drop {
        background-color: #000;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Главная
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'film_page' %}">Фильмы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'series_page' %}">Сериалы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'game_page' %}">Игры</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'media_page' %}">Медиатека</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_data' %}">Мои данные</a>
        </li>
        {% endif %}
      </ul>
        <li class = 'd-flex'>
            {% if user.is_authenticated %}
            <a style="margin-top: 5px" class="navbar-brand" href="">Привет, {{user.username}}</a>
            <a href="{% url 'logout' %}" class="btn btn-warning">Выход</a>
             {% else %}
                <a href="{% url 'login' %}" class="btn btn-warning nav-item">Войти</a>
                <a href="{% url 'register' %}" style="margin-left: 10px" class="btn btn-warning nav-item">Регистрация</a>
            {% endif %}
        </li>
    </div>
  </div>
</nav>
<div class="container">
        {% block content %}

        {% endblock content %}
    </div>
<script src="{% static '/js/jquery.js' %}"></script>
<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/js/select2.min.js' %}"></script>


</body>
</html>