<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>index</h3>
     <form action="{% url 'recommend' %}" method="POST">
            {% csrf_token %}
            <p><textarea name="content_name" cols="40" rows="1"></textarea></p>
            <button class="btn btn-warning">Получить рекомндацию</button>
     </form>
    {% for recommendation in recommendations %}
        <h6><strong>{{recommendation}}</strong></h6>
    {% endfor %}
</body>
</html>