{% extends 'RecSys/index.html' %}
{% load static %}
{% block content%}
<link rel="stylesheet" type="text/css" href="{% static '/css/main_page.css' %}">
<h2 style="width:100%;text-align:center;">Ваш путеводитель в мир медиаконтента</h2>
<div class="block">
    <div class="line_block">
        <div style="height: fit-content; width:fit-content;"  class="card mb-3">
                    <h3 class="card-header">Кино</h3>
                        <img  src="{% static 'images/p1.jpg' %}"alt="альтернативный текст">
                    </svg>
                </div>
    </div>
    <div class="line_block">
        <div style="height: fit-content; width:fit-content;"  class="card mb-3">
                    <h3 class="card-header">Сериалы</h3>
                        <img  src="{% static 'images/p2.jpeg' %}"alt="альтернативный текст">
                    </svg>
                </div>
    </div>
    <div class="line_block">
        <div style="height: fit-content; width:fit-content;"  class="card mb-3">
                    <h3 class="card-header">Игры</h3>
                        <img src="{% static 'images/640px-DevilMayCry5.jpeg' %}"alt="альтернативный текст">
                    </svg>
                </div>
    </div>
</div>
{% endblock content%}