<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommend</title>
</head>
<body>
    {% block content %}

    {% endblock content %}
    <form action="{% url 'search_media' %}" method="POST">
        {% csrf_token %}
        <input name="search_media" type="text" placeholder="Search...">
        <button class="btn btn-warning">Search</button>
    </form>
    {% for media in medias %}
        <h6><strong>{{media.title}}</strong></h6>
        <h6><strong>{{media.category}}</strong></h6>
        <a class="btn btn-outline-success" href="{% url 'delete_from_media' media.id %}">delete</a>
    {% endfor %}
</body>
</html>