{% extends 'RecSys/index.html' %}
{% load static %}
{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'css/film.css' %}">
<div class ='center'>
    <h3 class="text">Введите название</h3>
    <form action="{% url 'recommend_user_data' file_id %}" method="POST">
        {% csrf_token %}
        <select class="js-example-basic-multiple" style="width:650px;" name="content_name_user_data">
            {% for data in UserData %}
            <option>{{data}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary">Получить рекомндацию</button>
    </form>
</div>
{% endblock content%}